/* -------------------- Общее -------------------- */

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas: "photo info";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
}

.block {
    margin-bottom: 30px;
}

/* -------------------- Изображение -------------------- */

.photo {
    grid-area: photo;
    position: relative;
}

.photo img {
    width: 1000px;
    height: auto;
}

.circle-mark {
    display: none;
    position: absolute;
    /*width: 20px;*/
    /*height: 20px;*/
    background-color: rgb(255 52 52 / 51%);
    border-radius: 50%;
    z-index: 9999;
    top: 0;
    left: 0;
}

.photo svg {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 1000px;
}

.photo polygon {
    fill: rgb(214 120 127 / 55%);
    stroke: rgba(196, 19, 19, 0.785);
	stroke-width: 7;
    -webkit-tap-highlight-color: transparent; /* чтобы не мерцала рамка при клике */
}

/* -------------------- Блок с информацией -------------------- */

.info-block {
    grid-area: info;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

/* ----- Размер изображения ------- */

.size-line {
    position: relative;
}

.size-string {
    padding: 3px 10px;
    margin: 0 10px;
    border: 1px solid black;
}

/* ----- Вывод координат, кнопка "Завершить" ------- */

.coordinate-block {
    position: relative;
}

.example {
    color: rgb(151, 151, 151);
}

.coord {
    color: rgb(210, 37, 25);
}

/* ! сделать плавающей но вне блока с изображением */
.btn:hover {
    cursor: pointer;
    border-radius: 3px;
}

.finish-btn:hover {
    background-color: rgb(209, 250, 233);
}

.reset-btn:hover {
    background-color: rgb(254, 222, 218);
}

.btn:disabled {
    border-radius: 3px;
    cursor: not-allowed;
}

.btn:hover:disabled {
    background-color: rgba(239, 239, 239, 0.3);
}

.finish-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.reset-btn {
    position: absolute;
    bottom: -30px;
    right: 0;
}

/* Кнопка скопировать строку кода */

.copy-btn {
    position: absolute;
    bottom: -30px;
    left: 0;
    /*bottom: -5px;
    right: 0;*/
    border: transparent;
    background-color: transparent;
}

.copy-btn:hover {
    cursor: pointer;
}

.copy-btn:disabled {
    cursor: not-allowed;
}

.copy-btn.active svg path {
    fill: #1fbc8c;
}

.copy-btn:hover svg path {
    fill: #1fbc8c;
}

.copy-btn:hover:disabled svg path {
    fill: #C0C0C0;
}

.copied-message {
    display: none;
    color: #1fbc8c;
    position: absolute;
    left: 30px;
    bottom: -25px;
    /*right: 30px;
    bottom: 0px;*/
}