/* -------------------- Общее -------------------- */

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas: "photo info";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    column-gap: 20px;
}

.block {
    margin-bottom: 30px;
}

/* -------------------- Изображение -------------------- */

.photo {
    grid-area: photo;
    position: relative;
}

.circle-mark {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(255 52 52 / 51%);
    border-radius: 50%;
    z-index: 9999;
    top: 0;
    left: 0;
}

.photo svg {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 1000px;
}

.photo polygon {
    fill: rgb(214 120 127 / 55%);
    stroke: rgba(196, 19, 19, 0.785);
	stroke-width: 7;
    -webkit-tap-highlight-color: transparent; /* чтобы не мерцала рамка при клике */
}

/* -------------------- Блок с информацией -------------------- */

.info-block {
    grid-area: info;
    margin-right: 30px;
    margin-left: 10px;
}

/* ----- Размер изображения ------- */

.size-line {
    position: relative;
}

.size-string {
    padding: 3px 10px;
    margin: 0 10px;
    border: 1px solid black;
}

/* ----- Вывод координат, кнопка "Завершить" ------- */

.coordinate-block {
    position: relative;
}

.example {
    color: rgb(151, 151, 151);
}

/* ! сделать плавающей но вне блока с изображением */
.finish-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.finish-btn:disabled {
    border-radius: 3px;
}

.finish-btn:hover {
    cursor: pointer;
    background-color: rgb(211, 228, 255);
    border-radius: 3px;
}

.coord {
    color: rgb(210, 37, 25);
}
